// O’zR Qonunlari start start

.ozr_qonunlari{
    position: relative;
    margin-bottom: 60px;

    &__item{
        border: 1px solid $title;
        padding: 20px 30px;
        width: 100%;
        height: auto;
        @extend%transition;
        a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            grid-gap: 20px;

            span{
                @include fontAll(1.25rem,400,$title);
                line-height: 100%; 
                @extend%transition;
            }
        }

        &:hover{
            border: 1px solid $blue;
            a{
                span{
                    color:$blue;
                }

                .ozr_qonunlari__title__h4{
                    span{
                        color:$title;
                    }
                }
            }
        }
    }

    &__list{
        .ozr_qonunlari__item + .ozr_qonunlari__item{
            margin-top: 30px;
        }
    }

    &__title__h3{
        @include fontAll(1.5rem,700,$title);
        line-height: 125%;
        margin-bottom: 5px;
    }

    &__title__h4{
        @include fontAll(0.75rem,400,$title);
        line-height: 100%; 
        span{
            font-size: 0.75rem !important;
            color:$title !important;
            font-weight: 400 !important;
            line-height: 100%; 
            margin-left: 5px;
        }
    }
}

// O’zR Qonunlari start end

@media (max-width:1150px){
    .ozr_qonunlari__title__h3 {
        font-size: 1.375rem;
    }

    .ozr_qonunlari__item a span {
        font-size: 1.125rem;
    }
}

@media (max-width:900px){
    .ozr_qonunlari__title__h3 {
        font-size: 1.25rem;
    }

    .ozr_qonunlari__item a span {
        font-size: 1rem;
    }

    .ozr_qonunlari__list .ozr_qonunlari__item + .ozr_qonunlari__item {
        margin-top: 20px;
    }
}

@media (max-width:650px){
    .ozr_qonunlari__title__h3 {
        font-size: 1.125rem;
    }

    .ozr_qonunlari__item a{
        grid-gap: 10px;
    }
}