// Saylovchilar ruyxatiga kiritilgan saylov uchastka manzilini bilish start

.saylovchilar_ruyxatiga{
    position: relative;
    margin-bottom: 60px;

    &__title__h2{
        @include fontAll(1.875rem,700,$title);
        line-height: 135%;
        text-transform: uppercase;
    }

    &__list{
        margin-top: 20px;
    }

    &__form{
        display: grid;
        grid-template-columns: 48% 48%;
        grid-gap: 20px;
        justify-items: stretch;
        align-items: center;
        margin-bottom: 20px;
        label{
            display: flex;
            flex-direction: column;
            grid-gap: 10px;
            span{
                @include fontAll(1rem,400,$title);
                line-height: 135%;
            }
        }
    }

    &__input{
        background-color:$max;
        width: 100%;
        height: 50px;
        outline: none;
        border:none;
        padding: 18px 20px;
        @include fontAll(0.875rem,400,rgba(0, 48, 87, 0.5));
        line-height: 120%;

        &::placeholder{
            @include fontAll(0.875rem,400,rgba(0, 48, 87, 0.5));
            line-height: 10%;
        }
    }

    &__button{
        background-color:$blue;
        margin-top: 20px;
        padding: 18px 40px;
        @include fontAll(0.875rem,400,$link);
        display: inline-block;
        @extend%transition;
        span{
            margin-left: 5px;
        }

        &:hover{
            background-color:#58d2ee;
        }
    }
}

// Saylovchilar ruyxatiga kiritilgan saylov uchastka manzilini bilish end

// saylovchilar_ruyxatiga_in start

.saylovchilar_ruyxatiga_in{
    position: relative;
    margin-bottom: 60px;

    &__title__h3{
        @include fontAll(1.125rem,700,$title);
        line-height: 125%;
        margin-top: 20px;
    }

    &__menu{
        li{
            border-bottom:1px solid $title;
            padding: 25px 0;
        }
    }

    &__title__h4{
        @include fontAll(1rem,500,$title);
        line-height: 125%;
        span{
            @include fontAll(1rem,400,$title);
            line-height: 125%;
            margin-right: 5px;
        }
    }

    &__title__h5{
        margin: 20px 0;
        @include fontAll(1rem,400,$title);
        line-height: 125%;
    }

    &__map{
        iframe{
            width: 100%;
            height: 500px;
        }
    }
}

// saylovchilar_ruyxatiga_in end


@media (max-width:1150px){
    .saylovchilar_ruyxatiga__title__h2 {
        font-size: 1.625rem;
    }

    .saylovchilar_ruyxatiga_in__title__h3{
        font-size: 1rem;
    }

    .saylovchilar_ruyxatiga__form label span,
    .saylovchilar_ruyxatiga_in__title__h4,
    .saylovchilar_ruyxatiga_in__title__h5{
        font-size: 0.875rem;
    }

    .saylovchilar_ruyxatiga_in__menu li {
        padding: 15px 0;
    }

    .saylovchilar_ruyxatiga_in__title__h5{
        margin: 15px 0;
    }

    .saylovchilar_ruyxatiga_in__map iframe {
        width: 100%;
        height: 400px;
    }
}

@media (max-width:900px){
    .saylovchilar_ruyxatiga__form{
        grid-template-columns: auto;
    }

    .saylovchilar_ruyxatiga__title__h2 {
        font-size: 1.5rem;
    }

    .saylovchilar_ruyxatiga_in__map iframe {
        width: 100%;
        height: 350px;
    }
}

@media (max-width:700px){
    .saylovchilar_ruyxatiga__title__h2 {
        font-size: 1.375rem;
    }

    .saylovchilar_ruyxatiga_in__map iframe {
        width: 100%;
        height: 300px;
    }
} 